<div class="row justify-content-center">
    <div class="col-sm-8 mt-3">
      <h3>Tiny ER?</h3>
      <hr/>
      <p>Tiny ER stands for Tiny express router. This project is an attempt to recreate the functionality of the library Express.js. 
      This site serves as a demo for the functionality that I have implemented in the project.</p>
      <p>Tiny ER is not a fully functioning library, and may never be. However at this time there is enough functionality created 
      for anyone to use this website.</p>
      <h3>What can Tiny ER do?</h3>
      <hr/>
      <p>Currently Tiny ER has these features implemented:</p>
      <ul class="list-group">
        <li class="list-group-item"><a href="/Routing">Routing<a/></li>
        <li class="list-group-item"><a href="/Middleware">Middleware</a></li>
        <li class="list-group-item"><a href="Rendering">Rendering Engines</a></li>
      </ul>
    </div>
  </div>