<div class="row justify-content-center">
    <div class="col-sm-8 mt-3">
      <h3>What is Tiny ER</h3>
      <hr/>
      <p>Tiny ER stands for Tiny express router. This project is an attempt to recreate the functionality of the library Express.js. 
      This site serves as a demo for the functionality that has been implemented in the project.</p>
      <p>Tiny ER is not a fully functioning library, and may never be. However at this time there is enough functionality created 
      for anyone to use this website or create a small project.</p>
      <h3 class="mt-2">Why reinvent the wheel?</h3>
      <p>One of my favorite things to do while learning something is try and break it down to its mosts basic concepts. 
        I feel as though understanding how a tool works is as important as knowing what the tool can be used for.</p>
      <h3>What can Tiny ER do?</h3>
      <hr/>
      <p>Currently Tiny ER has these features implemented:</p>
      <ul class="list-group">
        <li class="list-group-item"><a href="/Routing">Routing<a/></li>
        <li class="list-group-item"><a href="/Middleware">Middleware</a></li>
        <li class="list-group-item"><a href="/Rendering">Rendering Engines</a></li>
      </ul>

      <h3 class="mt-2">How does express work under the hood?</h3>
      <p>An article that really helped me understand some of the express source code is 
        <a href="https://medium.com/man-moon/express-js-under-the-hood-6452c897b316">here</a>.</p>
      <p>For an in depth look at the code used for this project take a look at the <a target="_Blank" href="https://github.com/StevenDixonDev/TinyER">Github repo</a>, I did my best to document the code so that it makes sense.</p>
      <p>Express is a beast of a library, not because of size but because of complexity and a lack of documentation. I could ramble on for days on the inner workings of the library, but I won't Enjoy this simple demo.</p>
    </div>
  </div>