<div class="row justify-content-center">
    <div class="col-sm-8 mt-3">
        <h3>Rendering</h3>
        <hr/>
        <p>Tiny ER and by definition Express allows the developer to specify and use rendering engines. This allows for the separation of html files into views and layout.</p>
        <p>Currently Tiny ER only implements the handlebars engines, this entire demo is being rendered using Handlebars.</p>
        <p>All functionality is currently implemented for handlebars, this includes:</p>
        <ul class="list-group">
            <li class="list-group-item">Changing the layout file</li>
            <li class="list-group-item">Partials</li>
            <li class="list-group-item">Helper functions</li>
        </ul>
    </div>
</div>